@import '../../../styles/scss/variables/variables.scss';

.btn {
    display: inline-block;
    padding: 2px 5px;
    margin: 3px 2px;
    color: $white;
    font-size: 0.6rem;
    border: none;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
    @include mq(small){
        font-size: 0.8rem;
    }
    &_edit {
        background-color: $edit;
        &:hover {
            background-color: lighten($color: $edit, $amount: 10);
        }
    }
    &_view {
        background-color: $view;
        color: $black;
        &:hover {
            background-color: lighten($color: $view, $amount: 10);
        }
    }
    &_delete {
        background-color: $delete;
        &:hover {
            background-color: lighten($color: $delete, $amount: 10);
        }
    }
    &_contact {
        margin-bottom: 5px;
        padding: 12px 15px;
        background-color: $add;
        &:hover {
            background-color: darken($color: $add, $amount: 10);
        }
    }
    &_save {
        width: 100%;
        padding: 12px 18px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        color: $white;
        background-color: $primary;
        cursor: pointer;
        &:hover {
            background-color: lighten($color: $primary, $amount: 10);
        }
    }
    &_home {
        width: 100%;
        padding: 12px 18px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        color: $white;
        background-color: $add;
        cursor: pointer;
        &:hover {
            background-color: darken($color: $add, $amount: 10);
        }
    }
  }