input[type="text"],
input[type="number"],
input[type="email"],
select {
  display: inline-block;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 2px solid #ccc;
  border-radius: 3px;
}
