@import '../../../styles/scss/variables/variables.scss';

.user {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    @media (orientation: landscape) {
        top: 90%;
    }
    @include mq(xlarge){
        top: 50%;
    }
    &_card {
        display: flex;
        flex-direction: column;
        align-content: center;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
        font-size: 0.8rem;
        @include mq(medium){
            font-size: 1rem;
        }
    }
    &_header {
        height: 10vh;
        line-height: 10vh;
        background-color: $primary;
        color: $white;
        & p {
            display: flex;
            justify-content: center;
            align-items: center;
            & span {
                margin-left: 0.5rem;
                font-size: 0.8rem;
                @include mq(xsmall){
                    font-size: 1rem;
                }
            }
        }
    }
    &_data {
        padding: 10%;
        & span {
            display: inline-block;
            margin-bottom: 10px;
            font-size: 0.8rem;
            @include mq(medium){
                font-size: 1rem;
            }
          }
    }
  }
  